<script type="text/javascript" src="http://deep.routetopa.eu/deep/COMPONENTS/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>

<!-- REMOVE THE PREVIOUS SCRIPT TAGS IF YOUR PAGE ALREADY USES JQUERY AND POLYFILL LIBRARIES  -->
<link rel="import" href="http://deep.routetopa.eu/deep/COMPONENTS/datalets/datatable-datalet/datatable-datalet.html" /> 
<link rel="import" href="http://deep.routetopa.eu/deep/COMPONENTS/datalets/columnchart-datalet/columnchart-datalet.html" />
<link rel="import" href="http://deep.routetopa.eu/deep/COMPONENTS/datalets/barchart-datalet/barchart-datalet.html" />  

{% for resource in resource_fields %}

 	{{resource}}
 	<columnchart-datalet data-url='{{ckanurl}}/rtpa/{{dataset_id}}/{{resource}}'
 				selectedfields='[
						    {"field":"XAxis","value":"Range","index":3},
						    {"field":"NumericYAxis","value":"Frequency","index":1},null,null
						]'
 				filters='[]'
				aggregators='[]'
				orders='[]'
 				x-axis-label='Range of values in the field {{resource}}'
				y-axis-label='Frequency' suffix='' legend='topRight' 
				data-labels='true' stack='false' 
 				theme='themeBase' datalettitle='{{resource}}' description=''  fields='["Frequency","Name","Range"]'></columnchart-datalet>
 	

{%endfor%}
